@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
*{
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
  font-size: 120%;
  text-align: center;
  color: gray;
}

.error{
  background-color: red !important;
  color: white !important;
}
.correct{
  background-color: green !important;
  color: white !important;
}

